<h1>Calendario</h1>
<div class="row calendar-frame ">
	<div class="agenda col-sm-12 col-md-4">
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=fhqgprk3vcrocdip0mk2o381s0%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=Atlantic%2FCanary" style=" border-width:0 " width="auto" height="600" frameborder="0" scrolling="no"></iframe>
	</div>

	<div class="col-sm-12 col-md-8">
		<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=fhqgprk3vcrocdip0mk2o381s0%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=Atlantic%2FCanary" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</div>