<div class="contact">
	<form action="//formspree.io/codecraft.es@gmail.com" method="POST" class="row-fluid">
		<h1>Contacto</h1>
		<div class="form-group">
			<input type="text" placeholder="nombre" name="nombre" class="form-control">
		</div>
		<div class="form-group">
			<input type="email" placeholder="email" name="_replyto" class="form-control">
		</div>
		<div class="form-group">
			<input type="text" placeholder="asunto" name="_subject" value="" class="form-control">
		</div>
		<div class="form-group">
			<textarea placeholder="mensaje" name="mensaje" value="" class="form-control"></textarea>
		</div>
		<button class="btn btn-default" type="submit" value="Enviar">Enviar</button>
	</form>
</div>
