<!DOCTYPE html>
<html lang="es">
{% include head.html %}
<body>
	
	{% include header.html %}
	{% include analytics.html %}
	<div class="container">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
			<p><img class="img-responsive" src="{{ "/img/blog/" | prepend: site.baseurl }}{{ page.img }}"></p>
			<a href="{{ page.url | prepend: site.baseurl }}"><h3 class="ctitle">{{ page.title }}</h3></a>
			<p><csmall>{{ page.date | date: "%d-%m-%Y" }}. | {{ page.author }}</csmall></p>
			{{ content }}
			<div class="spacing"></div>
			{% include disqus.html %}
		</div>
	</div>
</body>
</html>